<%-include('../partials/header') %>




<form action="/products/<%= item.id %>/?_method=PUT" method="POST">
    Enter or select your new details:<br>
    <label>Item Description:<br>
        <input type="text" name="description" placeholder="<%= item.description %>" value="<%= item.description %>">
    </label></br>
    <br>
    <label>Category:<br>
        <select name="category" required>
            <option value="Clothing">Clothing</option>
            <option value="Accesories">Accesories</option>
            <br>
        </select></br>
    </label></br>
       <label>Size:
            <select name="size" required>
                <option value="NA">N/A</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select><br>
        </label></br>
    <label>Price:
        <br><input type="text" name="price" placeholder="<%= item.price %>" value="<%= item.price %>">
    </label><br>
    <label>Brand:
        <input type="text" name="brand" placeholder="<%= item.brand %>" value="<%= item.brand %>">
    </label></br>
    <label>Color:
        <input type="text" name="color" placeholder="<%= item.color %>" value="<%= item.color %>">
    </label></br>
    <label>Condition:
        <select name="condition" required>
            <option value="true vintage, VG">true vintage-VG</option>
            <option value="deadstock, LIKE NEW">deadstock-LIKE NEW</option>
            <option value="collectible-needs love">collectible-NEEDS LOVE</option>
            <option value="modern pre-loved, VG">modern pre-loved-VG+</option>
            <option value="modern pre-loved, LIKE NEW">modern pre-loved-LIKE NEW</option>
        </select><br>
        <label>Shipping:$
            <br><input type="text" name="shipping" placeholder="<%= item.shipping %>" value="<%= item.shipping %>">
        </label><br>
        <button type="submit">Update</button>
</form>
</div>







<%-include('../partials/footer') %>