<%-include('../partials/header') %>


<section class="main">
    <div class="main-divs" id="left-side-img">
        <img src='../images/mirror-lipstick.jpg' width="400px" height="500px" />
    </div>
    <div class="main-divs" id="right-side-content">
        <h1>Your item is now posted</h1>
        <ul>
            <li>Posted By: <%=user.name.replace(/\s+/g, '') %></li>
            <li><%=item.description %></li>
            <li>Category: <%=item.category %></li>
            <li>Size: <%=item.size %></li>
            <li>Price: $<%=item.price %></li>
            <li>Brand: <%=item.brand %></li>
            <li>Color: <%=item.color %></li>
            <li>Shipping: $<%=item.shipping %></li>
         </ul>
         <a href="/products/<%= item.id%>/edit">UPDATE</a>
         <form action="/products/<%= item.id %>?_method=DELETE"
             method="POST">
             <button>DELETE</button>
            </div>
        </section>
        
        
        
        </form>
    </form>


    <%-include('../partials/footer') %>


