<%-include('../partials/header') %>

    
    <section class="main">
        <div class="main-divs" id="left-side-content">
            <h3>Shop your style on thriftd</h3>
            <h1>WHATEVER YOU STYLE IS, FIND IT ALL HERE</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sapiente officia dolor sit amet
                consectetur adipisicing elit. Modi sapiente officia</p>
                <button id="shop-now">SHOP NOW</button>
        </div>
        <div class="main-divs" id="right-side-img1">
            <img src='images/color-background.jpg' width="325px" height="425px" />
        </div>
        <div class="main-divs" id="right-side-img2">
            <img src='images/glasses.jpg' width="325px" height="425px" />
        </div>
    </section>
    <div id="text-area">
        <h3 id="recently-added">Recently Added</h3>
    </div>
    
    <section id="product-index">
        <container id="product-container">
                    <% for (let i = 0; i < items.length; i++) { %>
                        <div class="product-boxes">
                             <a href="/products/<%= items[i].id %>"><img src="<%= items[i].image %>"width="250px" height="250px"/></a>
                            <%= items[i].color %>
                            <%= items[i].price %>
                    
                        </div>
                        <% } %>
                    </container>
                    
                
    </section>

    
    
    






    <%-include('../partials/footer') %>

        </html>