<%-include('../partials/header') %>

<section class="user-info-container">
    <div class="avatar">
    <img id="avatarIMG" src='/images/avatar.png' width="100px" height="100px" />
    </div>
    <div class="user-info">
        <h3><%= user.name.replace(/\s+/g, '') %></h3>
                <p id="user-info-P"><%= user.email %>
                Joined: <%= user.createdAt.toLocaleDateString() %></p>
       
        
    </div>
</section>


<h2 class="my-items-headings">Wish List:</h2>


<% if (user.wishList.length > 0) { %> 
    <container class="product-container">
    <%  user.wishList.forEach(function(w) { %>
        <div class="product-boxes">
            <a href="/products/<%= w.id %>"><img src="<%= w.image %>" width="225px" height="250px"/></a>
            <%= w.title %>
            $<%= w.price %>

            <form action="/products/<%= w.id %>/wish-list-delete?_method=DELETE" method="POST">
                <button><strong>x</strong></button>
            </form>
        </div>

      <% }) %>
    </container>
  <% } else { %>
    <h4 class="my-items-headings">No items in Wish List</h4>
    <% } %>





<h2 class="my-items-headings">Posted for sale:</h2>


<% if (items.length === 0) { %>
    <h2 class="my-items-headings">No items posted for sale</h2>
<% } %>

<container class="product-container">
<% for (let i=0; i < items.length; i++) { %>
    <div class="product-boxes">
            <a href="/products/<%= items[i].id %>"><img src="<%= items[i].image %>" width="225px" height="250px" /></a>
            <%= items[i].title %>
                <%= items[i].price %>
                </div>
            
        <% } %>
    </container>

   

        <%-include('../partials/footer') %>
        


    
               


       

       
                    




            
            