
<%-include('../partials/header') %>


<section class="user-info-container">
    <div class="avatar">
    <img id="avatarIMG" src='/images/avatar.png' width="100px" height="100px" />
    </div>
    <div class="user-info">
        <h3><%= user.name.replace(/\s+/g, '') %></h3>
                <p id="user-info-P"><%= user.email %>
                Joined: <%= user.createdAt.toLocaleDateString() %></p>
       
        
    </div>
</section>

<section>
    <h2 class="my-items-headings">Posted for sale:</h2>
<container class="product-container">
    <% for (let i=0; i < items.length; i++) { %>
        <div class="product-boxes">
                <a href="/products/<%= items[i].id %>"><img src="<%= items[i].image %>" width="225px" height="250px" /></a>
                <%= items[i].title %>
                    <%= items[i].price %>
                    </div>
                
            <% } %>
        </container>
    </section>
    




    <%-include('../partials/footer') %>
   