<%-include('../partials/header') %>


<section class="main">
    <div class="main-divs" id="left-side-img">
        <img src="<%= item.image %>" width="400px" height="500px"/>
    </div>
    <div class="main-divs" id="right-side-content">
        <h1>Your item is now posted</h1>
        <ul>
            <li>Posted By: <%=user.name.replace(/\s+/g, '') %></li>
            <li><%=item.description %></li>
            <li>Category: <%=item.category %></li>
            <li>Size: <%=item.size %></li>
            <li>Price: $<%=item.price %></li>
            <li>Brand: <%=item.brand %></li>
            <li>Color: <%=item.color %></li>
            <li>Shipping: $<%=item.shipping %></li>
         </ul>
         <a href="/products/<%= item.id%>/edit">UPDATE</a>
         <form action="/products/<%= item.id %>?_method=DELETE"
             method="POST">
             <button>DELETE</button>
            </form>
             <div id="comment-section">
                        <h3>Comments</h3>
                        <form id="add-comment-form" method="POST" action="/products/<%= item.id %>/comments">
                            <textarea name="content"></textarea><br>
                            <input type="submit" value="Add Comment">
                        </form>
                        <% if (item.comments.length > 0) { %> 
                          <%  item.comments.forEach(function(c) { %>
                        <p><strong><%= c.userName.replace(/\s+/g, '') %></strong> <%= c.content %></p>
                            
                    
                                
                           <% }) %>
                        <% } %>
                    </div>

        
          
            </div>
        </section>
        
        
        
        
    


    <%-include('../partials/footer') %>


