<%-include('../partials/header') %>

    <section class="main-show">
        <div class="main-divs-show" id="left-side-img">
            <img src="<%= item.image %>" width="400px" height="500px"/>
            
    </div>
        <div class="main-divs-show" id="right-side-content">
            <ul class="show-page-UL">
                <li>
                    <h3><strong><%=item.title %></strong></h3>
                <li>
                    <li>Posted By: <a href="/users/<%=item.postedById%>"><strong><%=item.userName.replace(/\s+/g, '')%></strong></a>
                    </li>
                    <%=item.description %>
                </li>
                <li><strong>Size:</strong> <%=item.size %>
                </li>
                <li><strong>Price:</strong> $<%=item.price %>
                </li>
                <li><strong>Brand:</strong> <%=item.brand %>
                </li>
                <li><strong>Color:</strong> <%=item.color %>
                </li>
                <li><strong>Shipping:</strong> $<%=item.shipping %>
                </li>
            </ul>
            <% if (user) { %>
            <% if (item.userName==user.name) { %>
                <div class="btns-container">
                <button class="blk-btns-small"><a class="white-links" href="/products/<%= item.id%>/edit">Update</a></button>
                <form action="/products/<%= item.id %>?_method=DELETE" method="POST">
                    <button class="blk-btns-small">Delete</button>
                </form>
                </div>
                    <% } else { %>
                        <div class="btns-container">
                        <button class="blk-btns-small"><a class="white-links" href="/products/<%= item.id%>/buy">Buy</a></button>
                        <form id="wishList" method="POST" action="/products/<%= item.id %>">
                        <input id='wishlist-btn' class="blk-btns-small" type="submit" value="Wishlist">
                        </form>
                    </div>
                        <% } %>
                        <div id="comment-section">
                        <h4>Comments</h4>
                        <form id="add-comment-form" method="POST" action="/products/<%= item.id %>/comments">
                            <textarea class="comment-box" name="content"></textarea><br>
                            <input class="comment-button" type="submit" value="Post">
                        </form>
                        <% if (item.comments.length > 0) { %> 
                          <%  item.comments.forEach(function(c) { %>
                        <p><strong><%= c.userName.replace(/\s+/g, '') %></strong> <%= c.content %></p>
                            
                    
                                
                           <% }) %>
                        <% } %>
                    </div>
                        <% } else { %>
                            <div id="button">
                            <button class="blk-btns-small" id="BUY">BUY</button>
                            </div>
                            <div id="comment-section">
                            <h4 id="comments">Comments</h4>
                            <h5 id="log-in-to-comment" style="color: red">Log in or sign up to post a comment</h5>
                            <% if (item.comments.length > 0) { %> 
                                <%  item.comments.forEach(function(c) { %>
                                    <p><strong><%= c.userName.replace(/\s+/g, '') %></strong> <%= c.content %></p>
                                      
                                 <% }) %>
                        <% } %>
                            </div>
                        <% } %>

                       
                    </div>
            
                </section>




                  
                       


                <section class="product-index">
                    <h3 class="medium-size-text">You might also like</h3>
                    <container class="product-container">
                        <% for (let i = 0; i < items.length; i++) { %>
                            <div class="product-boxes">
                                 <a href="/products/<%= items[i].id %>"><img src="<%= items[i].image %>"width="225px" height="250px"/></a>
                                <%= items[i].title %>
                                $<%= items[i].price %>
                        
                            </div>
                            <% } %>
                        </container>
                        
                    
        </section>





   




    <%-include('../partials/footer') %>