<%-include('../partials/header') %>

    
    <section class="main">
        
    
        <div class="main-divs" id="left-side-content">
            <h1 class="roboto-bold"><strong>EXPLORE, BUY AND SELL UNIQUE ITEMS. WHATEVER YOUR STYLE IS, FIND IT ALL HERE</h1></strong>
            <p class="roboto">Thriftd is a social community of style addicts that exchange collectible, in-demand items every day. Get inspired, clean out your closet and find what you've been looking for.</p>
                <button id="shop-now-btn" class="blk-btns-small"><a class="white-links" href="/showAll"><strong>Shop Now</strong></a></button>
       </div>
       <div class="main-divs" id="img-container">
        <div class="main-divs" id="right-side-img1">
            <img src='images/color-background.jpg' width="325px" height="425px" />
        </div>
        <div class="main-divs" id="right-side-img2">
            <img src='images/glasses.jpg' width="325px" height="425px" />
        </div>
    </div>
    </section>
    
    
    <section class="product-index">
        <div id="text-area">
            <h3 class="roboto" id='recently-added' class="medium-size-text"><strong></strong>Recently Added</strong></h3>
        </div>
        <container class="product-container">
                    <% for (let i = 0; i < items.length; i++) { %>
                        <div class="product-boxes">
                             <a href="/products/<%= items[i].id %>"><img src="<%= items[i].image %>"width="225px" height="250px"/></a>
                            <%= items[i].title %>
                            $<%= items[i].price %>
                    
                        </div>
                        <% } %>
                    </container>
                    
                
    </section>

    
    
    






    <%-include('../partials/footer') %>

       